

.curtain-menu {
  z-index: 12;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  pointer-events: none; 
  margin: -10px;
}

.curtain-menu-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transition-delay: 0.5s;
  visibility: hidden; }

.curtain-menu-wrapper .curtain-menu-list li {
  width: 100%;
  font-weight: 100;
  font-size: 2.8125rem;
  min-height: 2.8125rem;
  padding: 1rem;
  list-style: none;
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.2s ease-in; }

.curtain-menu-wrapper .curtain-menu-list li:hover {
  background-color: beige; }

.curtain-menu-wrapper .curtain-menu-list li:hover a {
  color: #1779ba; }

.curtain-menu-wrapper .curtain-menu-list li a {
  color: #00b3b3;
  text-decoration: none;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.curtain-menu .curtain {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: -webkit-flex 0.45s;
  transition: flex 0.45s;
  transition: flex 0.45s, -webkit-flex 0.45s, -ms-flex 0.45s; }

.curtain-menu .curtain:nth-child(2) {
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  background: transparent; }

.curtain-menu .curtain:nth-child(odd) {
  background: rgb(248, 248, 226); }

.curtain-menu-button {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 13; }

.curtain-menu-button-toggle {
  width: 3rem;
  height: 3rem;
  border-radius: 5000px;
  background: #00b3b3;
  position: fixed;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  top: 1rem;
  right: 1rem; }

.curtain-menu-button-toggle div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 3px;
  background: beige;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  transition-delay: 0.5s; }

.curtain-menu-button-toggle .bar1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg); }

.curtain-menu-button-toggle .bar2 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-180deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-180deg);
  transform: translateX(-50%) translateY(-50%) rotate(-180deg); }

.curtain-menu-button-toggle:hover {
  background: beige; }

.curtain-menu-button-toggle:hover div {
  background: #fefefe; }

.curtain-menu-button-toggle:active {
  box-shadow: none; }

.curtain-menu-open .curtain:nth-child(2) {
  -webkit-flex: 0 0 0%;
  -ms-flex: 0 0 0%;
  flex: 0 0 0%; }

.curtain-menu-open .curtain-menu-wrapper {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  pointer-events: all; }

.curtain-menu-open .curtain-menu-button-toggle .bar1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg); }

.curtain-menu-open .curtain-menu-button-toggle .bar2 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  transform: translateX(-50%) translateY(-50%) rotate(-135deg); }

  .imgLogo {
    max-width: 100px;
}

header {
	background:
		url("aparatolineas.png")
		fixed no-repeat;
	color: white;

	padding-bottom: 100px;
	padding-top: 100px;
	background-size: cover;
	text-align: center;

}

.bc-container {
	background-color: hsla(290,60%,70%,0.3);
	padding-top: 30px;
	padding-bottom: 15px;
}
h1, h2, h3, h4 {
	font-family: Galada;
}

h1 {
	font-size: 300%;
}

header h3 {
	font-family: Kushan;
	font-size: 22px;
}


/* .banner-hgroup {
	
} */

p {
	font-family: Kushan;
	text-align: center;
	font-size: 20px;
}

.img-banner {
	margin: 0 auto;
	height: 10%;
	width: 10%;
	border-radius: 50%;
  background-color: white;
  margin: .5rem;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.main {
  background: #fcc;
}
.side {
  background: #fea;
}
.main,
.side {
  padding: 2%;
  border-radius: 10px
}

@media(max-width: 600px){
  .grid {
    grid-template-columns: 1fr;
  }
}

.img-comp-container {
  position: relative;
  height: 500px;
   /*should be the same height as the images*/
   box-sizing: border-box;
    transition-property: none; 
    transition-duration: unset; 
    transition-timing-function: unset;
    font-family: unset;
    font-weight: unset;
    /* padding-left: 20px; */
}


.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
  box-sizing: border-box;
    transition-property: none; 
    transition-duration: unset; 
    transition-timing-function: unset;
    font-family: unset;
    font-weight: unset;
}

.img-comp-img img {
  display:flex;
  vertical-align:middle;
}

.img-comp-slider {
  transition-duration: unset;
  transition-timing-function: unset;
  transition-property: none;
  box-sizing: border-box;
  position: absolute;
  z-index:9;
  cursor: grab;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: purple;
  opacity: 0.7;
  border-radius: 50%;

}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
@media screen and (max-width: 616px) {
  header {
    margin-right: -100px;

  }
}
@media screen and (min-width: 616px) {
  header {
    margin-right:-100px;

  }
}

@media screen and (min-width: 400px) {
  .curtain-menu-button-toggle {
    right: 2rem;
  }
}


@media screen and (min-width: 600px) {
  .curtain-menu-button-toggle {
    right: 2rem;
  }
}